/* .navbar-brand  {
    :white
  }

/* .navbar-brand {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: bolder;
    background-color: rgb(20, 150, 150);
    padding: 10px;
    margin-left: 5%;
    color: white;
  } */
